@import "src/App.scss";

.container {
    position: relative;
    margin: 13rem 0 0 0;
    height: 40rem;
    overflow: hidden;
}
.wrapper {
    width: 90%;
    height: 32rem;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}
.blue {
    width: 149%;
    height: 200%;
    background-color: #ECF7FF;
    border-radius: 20rem;
    transform: translate(-33%, 0);
}
.dotted {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    position: absolute;
    width: 28rem;
    height: 26rem;
    z-index: -2;
    top: 9rem;
    right: -2rem;
    transform: skew(-6deg, 0deg),
}
.title1,
.title2 {
    text-align: center;
    color: $font-color;
    font-size: 3.2rem;
    margin: 0;
    z-index: 1;
    line-height: 3.5rem;
}
.title1 {
    font-weight: bold;
    padding-top: 5rem;
}
.line {
    position: absolute;
    width: 11.5rem;
    height: 0.8rem;
    background-color: $color-line;
    left: 56%;
    top: 11.1rem;
    z-index: 0;
}
.cards {
    margin-top: 3rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    color: $font-color;
    transform: translate(20%, 0);
    transition-duration: 1s;
}
.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px -2px black;
    padding: 1rem;
    min-width: 300px;
}
.card_icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    text-align: center;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: scale-down;
        width: 100%;
        height: 100%;
    }
}
.card_title {
    margin: 1rem 0;
}
.card_text {
    margin: 0;
    font-size: 1.1rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    transform: translate(12%, 1rem);
}
.next,
.back {
    border: 1px solid black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.next:active,
.back:active {
    transform: scale(1.2);
}

@include breakpoint(lg) {
    .card {
        min-width: 250px;
        padding: 0.8rem;
    }
}

@include breakpoint(n) {
    .container {
        height: 35rem;
    }
    .title1,
    .title2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .title1 {
        padding-top: 3.5rem;
    }
    .line {
        width: 9rem;
        height: 0.6rem;
        top: 7.9rem;
    }
    .cards {
        margin-top: 2rem;
        gap: 1rem;
    }
    .card_icon {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.4rem;
    }
    .wrapper {
        height: 28rem;
    }
    .dotted {
        width: 24rem;
        height: 24rem;
        z-index: -2;
        top: 6rem;
    }
    .card_title {
        margin: 0.5rem 0;
        font-size: 1rem;
    }
    .card {
        min-width: 190px;
    }
}
@include breakpoint(sm) {
    .container {
        margin: 8rem 0 0 0;
        height: 28rem;
    }
    .title1,
    .title2 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .title1 {
        padding-top: 3rem;
    }
    .line {
        width: 7.3rem;
        height: 0.4rem;
        top: 6.6rem;
    }
    .blue {
        border-radius: 15rem;
    }
    .cards {
        margin-top: 1.5rem;
        gap: 1rem;
    }
    .card_icon {
        width: 2rem;
        height: 2rem;
        border-radius: 0.3rem;
    }
    .wrapper {
        height: 22.5rem;
    }
    .dotted {
        width: 20rem;
        height: 20rem;
        z-index: -2;
        top: 5rem;
        right: -2rem;
    }
    .card_title {
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }
    .card_text{
        font-size: 0.8rem;
    }
    .card {
        min-width: 135px;
    }
    .next,
    .back {
        width: 1.6rem;
        height: 1.6rem;
        font-size: 1.2rem;
    }
}
@include breakpoint(xs) {
    .container {
        margin: 0;
        height: 20rem;
    }
    .title1,
    .title2 {
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
    .title1 {
        padding-top: 2rem;
    }
    .line {
        width: 4.6rem;
        height: 0.3rem;
        top: 4.4rem;
    }
    .cards {
        margin-top: 1rem;
        gap: 0.8rem;
    }
    .card_icon {
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 0.2rem;
    }
    .wrapper {
        height: 17rem;
    }
    .blue {
        width: 170%;
        height: 140%;
        border-radius: 10rem;
        transform: translate(-38%, 0);
    }
    .dotted {
        width: 15rem;
        height: 15.5rem;
        z-index: -2;
        top: 3.5rem;
        right: -3rem;
    }
    .card_title {
        margin: 0.3rem 0;
        font-size: 0.8rem;
    }
    .card_text{
        font-size: 0.6rem;
    }
    .card {
        min-width: 110px;
    }
    .buttons {
        gap: 0.5rem;
        transform: translate(12%, 0.8rem);
    }
    .next,
    .back {
        width: 1rem;
        height: 1rem;
        font-size: 0.8rem;
    }
}