@import "src/components/App.scss";

.container {
    position: relative;
    margin: 3rem 0;
}
.wrapper {
    width: 80%;
    height: 20rem;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}
.blue {
    width: 149%;
    height: 200%;
    background-color: #ECF7FF;
    border-radius: 15rem;
    transform: translate(-33%, 0);
}