@import "src/App.scss";

.container {
    margin: 0 0 0 40px;
}

.title {
    margin: 6rem 0 2rem 0;
    position: relative;
    color: $font-color;
    font-size: 5.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title1 {
    margin: 0;
    font-weight: bold;
}

.title2,
.title3 {
    margin: 0;
}

.line {
    background-color: $color-line;
    width: 22rem;
    height: 1.1rem;
    position: absolute;
    bottom: 0.9rem;
    z-index: -1;
}

.text {
    width: 50%;
    color: $font-color;
    font-size: 1.2rem;
}

.button {
    margin: 1rem 0.5rem;
    width: 15rem;
    height: 4rem;
    background-color: $font-color;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.1rem;
}

.img {
    position: absolute;
    top: 10rem;
    right: 2%;
    width: 40rem;
    z-index: 2;
}

.images {
    width: 100%;
}

.wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 32rem;
    height: 100%;
}

.vector1 {
    background: url("../../assets/vectors/vector1.png") 0 0 / 100% no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.vector2 {
    position: absolute;
    border: 2px dashed rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 13rem;
    right: 12rem;
    width: 30rem;
    height: 25rem;
    z-index: 0;
}

.vector3 {
    position: absolute;
    background: url("../../assets/vectors/vector2.png") 0 0 / 100% no-repeat;
    top: 7rem;
    right: 11rem;
    width: 24rem;
    max-width: 100%;
    height: 100%;
    z-index: 0;
}

@include breakpoint(lg) {
    .title {
        font-size: 3.5rem;
    }

    .line {
        width: 13.8rem;
        height: 0.8rem;
    }

    .img {
        width: 30rem;
    }
    .wrapper {
        width: 22rem;
    }
    .vector1 {
        width: 117%;
    }

    .vector2 {
        width: 24rem;
        height: 19rem;
        top: 12rem;
        right: 8rem;
    }

    .vector3 {
        width: 17rem;
        top: 8rem;
        right: 8rem;
    }

    .button {
        margin: 1rem 0.5rem;
        width: 13rem;
        height: 3rem;
    }
}

@include breakpoint(n) {
    .text {
        width: 42%;
        font-size: 1rem;
    }

    .title {
        font-size: 2.8rem;
        margin: 3rem 0 1rem 0;
    }

    .img {
        width: 25rem;
    }

    .line {
        width: 11rem;
        height: 0.6rem;
        bottom: 0.6rem;
    }

    .wrapper {
        width: 18rem;
    }

    .vector1 {
        width: 130%;
    }

    .vector2 {
        width: 21rem;
        height: 16rem;
        top: 12rem;
        right: 6rem;
    }

    .vector3 {
        width: 15rem;
        right: 6rem;
    }
}
@include breakpoint(sm) {
    .title {
        font-size: 2rem;
        margin: 3rem 0 0.5rem 0;
    }

    .img {
        width: 18rem;
        right: 1rem;
        top: 12rem;
    }

    .line {
        width: 8rem;
        height: 0.5rem;
        bottom: 0.3rem;
    }
    .wrapper {
        width: 13rem;
    }

    .vector1 {
        width: 165%;
    }
    .vector2 {
        width: 14rem;
        height: 11.3rem;
        top: 13rem;
        right: 5rem;
    }

    .vector3 {
        top: 10.5rem;
        width: 10.5rem;
        right: 5rem;
    }

    .button {
        margin: 0;
        width: 10rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }
}
@include breakpoint(xs) {
    .container {
        margin: 0 0 0 20px;
    }
    .images {
        position: relative;
        width: 100%;
        height: 20rem;
    }
    .text {
        width: 100%;
        font-size: 0.8rem;
    }

    .title {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    .line {
        width: 5.2rem;
        height: 0.3rem;
        bottom: 0.1rem;
    }
    .button {
        margin: 0;
        width: 7rem;
        height: 1.9rem;
        font-size: 0.6rem;
        border-radius: 0.5rem;
    }
    .wrapper {
        width: 100%;
    }

    .img {
        width: 15rem;
        top: 6rem;
        right: 1rem;
    }

    .vector1 {
        background-size: contain;
        width: 100%;
        height: 100%;
        transform: translate(calc(100vw - 14rem), -1rem);
    }

    .vector2 {
        width: 12rem;
        height: 9rem;
        top: 7.5rem;
        right: 4.5rem;
    }

    .vector3 {
        top: 5rem;
        width: 8.5rem;
        right: 5rem;
    }
}